div.wx-cjjL7Yfc {
  white-space: nowrap;
}
.wx-cjjL7Yfc span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.avatar.wx-cjjL7Yfc {
  width: 26px;
  border-radius: 26px;
  background-color: blueviolet;
  margin-right: 3px;
}
