.wx-option.wx-cDCz9rZQ {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  padding: 2px 12px;
  font-family: var(--wx-font-family);
  font-weight: var(--wx-font-weight);
  font-size: var(--wx-font-size);
  background-color: var(--wx-background);
  cursor: pointer;
}

.wx-option.wx-cDCz9rZQ:hover {
  background: var(--wx-background-alt);
}

.wx-option.wx-cDCz9rZQ:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.wx-option.wx-cDCz9rZQ:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.wx-value.wx-cDCz9rZQ {
  flex-grow: 1;
  white-space: nowrap;
  color: var(--wx-color-font);
}
.wx-icon.wx-cDCz9rZQ,
.wx-sub-icon.wx-cDCz9rZQ {
  vertical-align: middle;
  height: inherit;
  line-height: inherit;
  font-size: var(--wx-icon-size);
  color: var(--wx-icon-color);
}

.wx-icon.wx-cDCz9rZQ {
  margin-right: 8px;
}

.wx-subtext.wx-cDCz9rZQ {
  color: var(--wx-color-font-disabled);
  margin-left: 20px;
  white-space: nowrap;
}
